<a href="https://colab.research.google.com/github/AnanyaMishra09/Python_DSA/blob/main/Week_1_coding_que.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###PPA - 1
Twin primes are pairs of prime numbers that differ by 2. For example (3, 5), (5, 7), and (11,13) are twin primes.
Write a function Twin_Primes(n, m) where n and m are positive integers and n < m , that returns all unique twin primes between m and n (both inclusive). The function returns a list of tuples and each tuple (a,b) represents one unique twin prime where n <= a < b <= m.

In [3]:
def Twin_Primes(n, m):
    def is_prime(num):
        if num <= 1:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True

    twin_primes = []
    for i in range(n, m - 1):  # Check up to m - 2 to avoid going beyond m
        if is_prime(i) and is_prime(i + 2):
            twin_primes.append((i, i + 2))

    return twin_primes

#Test_case_1 : n=1 and m=15
print(Twin_Primes(1, 15))

[(3, 5), (5, 7), (11, 13)]

###PPA-2
Create a Triangle class that accepts three side-lengths of the triangle as a, b, and c as parameters at the time of object creation. Class Triangle should have the following methods:

Is_valid(): Returns Valid if triangle is valid otherwise returns Invalid.

A triangle is valid when the sum of its two side-lengths are greater than the third one.
That means the triangle is valid if all three conditions are satisfied:

a + b > c

a + c > b

b + c > a

Side_Classification(): If the triangle is invalid then return Invalid. Otherwise, it returns the type of triangle according to the sides of the triangle as follows:

Return Equilateral if all sides are of equal length.

Return Isosceles if any two sides are of equal length and the third is different.

Return Scalene if all sides are of different lengths.

Angle_Classification(): If the triangle is invalid then return Invalid. Otherwise, return type of triangle using Pythagoras theorem.

For example if a ≤ b ≤ c, then

If a² + b² > c² return Acute

If a² + b² = c² return Right

If a² + b² < c² return Obtuse

In the formula of angle classification, the square of the largest side length should be compared to the sum of squares of the other two side lengths.

Area(): If the triangle is invalid then return Invalid. Otherwise, return the area of the triangle.

Area = √[s(s − a)(s − b)(s − c)]
Where s = (a + b + c) / 2

In [4]:
import math

class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def Is_valid(self):
        if (self.a + self.b > self.c) and (self.a + self.c > self.b) and (self.b + self.c > self.a):
            return "Valid"
        else:
            return "Invalid"

    def Side_Classification(self):
        if self.Is_valid() == "Invalid":
            return "Invalid"
        elif self.a == self.b == self.c:
            return "Equilateral"
        elif self.a == self.b or self.a == self.c or self.b == self.c:
            return "Isosceles"
        else:
            return "Scalene"

    def Angle_Classification(self):
        if self.Is_valid() == "Invalid":
            return "Invalid"
        sides = sorted([self.a, self.b, self.c])
        a, b, c = sides[0], sides[1], sides[2]
        if a**2 + b**2 > c**2:
            return "Acute"
        elif a**2 + b**2 == c**2:
            return "Right"
        else:
            return "Obtuse"

    def Area(self):
        if self.Is_valid() == "Invalid":
            return "Invalid"
        s = (self.a + self.b + self.c) / 2
        area = math.sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))
        return area

#Test case -1
a=2
b=3
c=4
T=Triangle(a,b,c)
print(T.Is_valid())
print(T.Side_Classification())
print(T.Angle_Classification())
print(T.Area())

Valid
Scalene
Obtuse
2.9047375096555625

###GRPA -1
Write a function find_Min_Difference(L, P) that accepts a list L of integers and P (positive integer) where the size of L is greater than P. The task is to pick P different elements from the list L, where the difference between the maximum value and the minimum value in selected elements is minimum compared to other differences in possible subset of p elements. The function returns this minimum difference value.
Note - The list can contain more than one subset of p elements that have the same minimum difference value.

Example

Let L = [3, 4, 1, 9, 56, 7, 9, 12, 13] and P = 5

If we see the following two subsets of 5 elements from L

[3, 4, 7, 9, 9] or [7, 9, 9, 12, 13]

Here, the difference between the maximum value and the minimum value in both subset is 9 - 3 = 6 or 13 - 7 = 6 which is minimum. So the output will be 6.

Sample Input

[3, 4, 1, 9, 56, 7, 9, 12]
5
Output

6

In [6]:
def find_Min_Difference(L, P):
    L.sort()  # Sort the list to easily find min and max in subsets
    min_diff = float('inf')  # Initialize with a large value

    for i in range(len(L) - P + 1):
        subset = L[i:i + P]  # Get a subset of P elements
        diff = subset[-1] - subset[0]  # Difference between max and min in subset
        min_diff = min(min_diff, diff)  # Update min_diff if a smaller difference is found

    return min_diff
# Test Case - 1
L=[3,3,3,3,3,3,3,3,3]
P=4
print(find_Min_Difference(L,P))

0

In [24]:
# Test Case - 2
L = [3,4,1,9,56,7,9,12]
P = 5
print(find_Min_Difference(L,P))

6

In [25]:
# Test Case - 3
L = [1,2,3,-4,3,2,1,5,-6,7,8,9,10]
P = 6
print(find_Min_Difference(L,P))

2

###GRPA - 2
Goldbach's conjecture is one of the oldest and best-known unsolved problems in number theory. It states that every even number greater than 2 is the sum of two prime numbers.

For Example:

12 = 5 + 7
26 = 3 + 23 or 7 + 19 or 13 + 13

Write a function Goldbach(n) where n is a positive even number (n > 2) that returns a list of tuples. In each tuple (a, b) where a <= b, a and b should be prime numbers and the sum of a and b should be equal to n.

Sample Input 1
12
Output
[(5, 7)]
Sample Input 2
26
Output
[(3, 23), (7, 19), (13, 13)]

In [11]:
def Goldbach(n):
    def is_prime(num):
        if num <= 1:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True

    result = []
    if n > 2 and n % 2 == 0:
        for a in range(2, n):
            if is_prime(a) and is_prime(n - a) and a <= (n - a):
                result.append((a, n - a))
    return result

In [13]:
#Test case - 1
n=16
print(sorted(Goldbach(n)))

[(3, 13), (5, 11)]

In [22]:
#Test case - 2
n=26
print(sorted(Goldbach(n)))

[(3, 23), (7, 19), (13, 13)]

In [23]:
#Test case - 3
n=12
print(sorted(Goldbach(n)))

[(5, 7)]

###GRPA = 3
Write a function named odd_one(L) that accepts a list L as argument. Except for one element, all other elements in L are of the same data type. The function odd_one should return the data type of this odd element.

For example, if L is equal to [1, 2, 3.4, 5, 10], then the function should return the string float. This is because the element 3.4 is the odd one here, all other elements are integers.

Note

L has at least three elements.

For each test case, the elements in the list will only be of one of these four types: int, float, str, bool.

The function must return one of these four strings: int, float, str, bool.

Hint: type(1) == int evaluates to True.

In [16]:
def odd_one(L):
    type_counts = {}
    for item in L:
        item_type = type(item)
        type_counts[item_type] = type_counts.get(item_type, 0) + 1

    for item_type, count in type_counts.items():
        if count == 1:
            if item_type == int:
                return "int"
            elif item_type == float:
                return "float"
            elif item_type == str:
                return "str"
            elif item_type == bool:
                return "bool"
    return None  # Should not reach here in valid cases

In [18]:
#Test case -1
print(odd_one([2,13,16,4.5]))

float

In [21]:
#Test case -2
print(odd_one([1.5,2.0,3.6,1,2.6,8.6]))

int

In [20]:
#Test case -2
print(odd_one([2,3,4,5,6,7,'1']))

str